@import "src/styles/main";

.Frame {
  width: 343px;
  height: 48px;
  border-radius: 6px;
  background-color: $color-accent-1-blue;
}

.Frame .Text {
  width: 311px;
  height: 22px;
  text-align: center;
  color: $color-neutral-6-white-reverse;
  @include Heading-3;
}

.Rectangle {
  width: 343px;
  height: 48px;
  border-radius: 6px;
  border: solid 2px $color-accent-1-blue;
  background-color: white;
}

.Rectangle .Text {
  text-align: center;
  @include Heading-3;
  color: $color-accent-1-blue;
}
